@charset "UTF-8";
.telefono-correo {
  display: flex;
  flex-direction: row;
}

.seccion-contactos, .imagenes-recetas, .section-tres-inicio, .divpadreinicio, body header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.grilla-productos img, .main-productos, .seccion-nuestra-historia img, .imagenes-recetas div img, .divpadreinicio, .texto-carrusel, .telefono-correo {
  border: solid orange 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffdda1;
  width: 100%;
}
body header {
  background-color: #CF995F;
  width: 100%;
}

.colortextoenlace a:hover {
  color: #69e779;
}

.color-nav {
  background-color: #CF995F;
}

.colorenlaces {
  font-family: "Martel";
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.menunav {
  background-image: url(../assets/img/menunav.png);
}

.boton {
  border: white solid;
}

h1 {
  font-family: "Martel";
  font-size: 60px;
  text-decoration: none;
  color: #69e779;
  font-weight: 1000;
}

h2 {
  font-family: "Martel";
  font-size: 40px;
  text-decoration: underline;
  color: orange;
  font-weight: 900;
  text-align: center;
}

h3 {
  color: orange;
  text-align: center;
}

p {
  font-family: "Oxygen", sans-serif;
  text-align: justify;
}

.textos-grilla-historia {
  font-size: 25px;
}

.seccion-footer {
  background-color: #CF995F;
}

.seccion-footer div {
  display: flex;
  align-items: center;
}

.redes {
  padding: 10px;
  justify-content: space-evenly;
}

.redes img {
  height: 40px;
  max-width: 100%;
}

.telefono-correo {
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  background-color: wheat;
  margin: 10px;
}

#carousel-pastas {
  margin: 0 auto;
  width: 50%;
}

.texto-carrusel {
  color: aliceblue;
  background-color: transparent;
  font-size: 4rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/*Segunda sección*/
.divpadreinicio {
  padding-top: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.divpadreinicio div {
  max-width: 50%;
  height: auto;
  padding: 10px 15px 20px 25px;
}

.section-tres-inicio {
  padding: 30px 15px 20px 25px;
  width: 100%;
}
.section-tres-inicio div {
  max-width: 33%;
}
.section-tres-inicio iframe {
  display: block;
  margin: 0 auto;
}
.section-tres-inicio img {
  height: auto;
  max-width: 100%;
}

.video-canal-youtube {
  display: flex;
  justify-content: center;
  padding: 10px 50px 30px 50px;
}

.main-canal-youtube {
  margin: 20px;
}

.imagenes-recetas {
  background-color: #ffdda1;
  padding: 10px 50px 30px 50px;
}
.imagenes-recetas div {
  padding: 1%;
}
.imagenes-recetas div img {
  border-radius: 10%;
  width: 100%;
  height: 100%;
}

.seccion-contactos {
  background-color: #ffdda1;
  padding: 30px 15px 30px 15px;
}

.seccion-contactos-div {
  flex: 1 1 50%;
  padding: 10px;
}
.seccion-contactos-div img {
  width: 100%;
}

.color-boton {
  background-color: orange;
  color: white;
}

main {
  padding: 30px;
}

.seccion-nuestra-historia {
  width: 100%;
}
.seccion-nuestra-historia div {
  max-width: 50%;
}
.seccion-nuestra-historia div img {
  height: auto;
  width: 100%;
  border-radius: 20%;
}

.seccion-nuestra-historia {
  width: 100%;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "div1 div2" "div3 div4" "div5 div6" "div7 div8";
}
.seccion-nuestra-historia div {
  max-width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccion-nuestra-historia div .texto {
  max-height: 100%;
}
.seccion-nuestra-historia div img {
  height: 500px;
}
.grilla-productos {
  width: 100%;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas: "img-1 img-2 img-5 img-6" "img-3 img-4 img-5 img-6" "img-7 img-7 img-8 img-8";
}
.grilla-productos img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.img-1 {
  grid-area: img-1;
}

.img-2 {
  grid-area: img-2;
}

.img-3 {
  grid-area: img-3;
}

.img-4 {
  grid-area: img-4;
}

.img-5 {
  grid-area: img-5;
}

.img-6 {
  grid-area: img-6;
}

.img-7 {
  grid-area: img-7;
}

.img-8 {
  grid-area: img-8;
}

/*Version media*/
@media (max-width: 756px) {
  nav ul {
    flex-direction: column;
  }
  header {
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }
  /*Page Inicio*/
  .divpadreinicio {
    flex-direction: column;
    padding: 0px;
  }
  .divpadreinicio div {
    max-width: 100%;
    height: auto;
  }
  presentacion-video iframe {
    margin: 10px;
    width: 100%;
    max-width: 100%;
    height: 400px;
    padding: 0px;
  }
  .section-tres-inicio {
    flex-direction: column;
    width: 100vw;
    padding: 0;
    box-sizing: border-box;
  }
  .section-tres-inicio div {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }
  .section-tres-inicio {
    flex-direction: column;
    width: 100vw;
    padding: 0;
    box-sizing: border-box;
  }
  .section-tres-inicio div {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .section-tres-inicio div p {
    text-align: center;
    font-size: 15px;
  }
  /*Page nuestra historia*/
  .seccion-nuestra-historia {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "div1" "div2" "div3" "div4" "div5" "div6" "div7" "div8" "div9";
  }
  .seccion-nuestra-historia div {
    max-width: 100%;
  }
  /*Page productos*/
  .grilla-productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img-1 img-2" "img-3 img-4" "img-5 img-6" "img-7 img-8";
  }
  /*PAGINA CONTACTO*/
  .seccion-contactos {
    flex-direction: column;
    /*PAGINA CANAL YOUTUBE*/
    /*PIE DE PAGINA*/
  }
  .seccion-contactos div {
    width: 100%;
    padding: 0 10px;
  }
  .seccion-contactos div form {
    width: 100%;
  }
  .seccion-contactos .color-boton {
    width: 100%;
    height: 50px;
  }
  .seccion-contactos .imagenes-recetas {
    flex-direction: column;
  }
  .seccion-contactos .telefono-correo {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
