#carousel-pastas {
    margin: 0 auto;
    width: 50%;
}
.texto-carrusel{
    @extend %bordes;
    color: aliceblue;
    background-color: transparent;
    font-size: 4rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}




/*Segunda sección*/
.divpadreinicio {
    padding: 30px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    @extend %flexrowcenter;
    div{
        max-width: 50%;
        height: auto;

    }

}
.section-tres-inicio {
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    @extend %flexrowcenter;
    width: 100%;
    div{ 
        max-width: 33%;
    } 
    iframe{
        display: block;
        margin: 0 auto;
    }
    img{
        height: auto;
        max-width: 100%;
    }
}


