* {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}
body, html {
    width: 100%;
    height: 100%;
  overflow-x: hidden; /* Evita el scroll lateral */
}

.seccion-nuestra-historia {
    width: 100%;
    max-width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "div1 div2"
    "div3 div4"
    "div5 div6"
    "div7 div8";

div {
    padding: 10px 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

.texto{
    max-height: 100%;
    width: 100%;
    }
img {
    max-width: 100%;
    height: auto;
    border-radius: 20%;
    display: block;
    }
    }
}
